<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{# Dodatna domača naloga: naj se stran prikaže malo lepše #}
<h1>Sporočilo</h1>
<p>{{sporocilo.besedilo}}</p>
<p>{{sporocilo.email}}</p>
<p>{{sporocilo.prejemnik}}</p>
<p>{{sporocilo.nastanek}}</p>
<p>{{sporocilo.key.id()}}</p>

<a href="/sporocilo/{{ sporocilo.key.id() }}/edit"><button>Uredi</button></a>
<a href="/sporocilo/{{ sporocilo.key.id() }}/delete"><button>Izbriši</button></a>

</body>
</html>